#lambda o funciones anonimas

para funciones pequeñas para facil acceso y que sena rapidas dicho eto pueede contener varios argumentos pero solo una expresión.


definiendo lambda:

lambda(parametro): expresión

In [1]:
#funciónque que eleve al cuadrado tdod los elementos de una lista
lista=[3,4,5,6,7]
#por compresión
lista2=[n**2 for n in lista]
lista2

[9, 16, 25, 36, 49]

In [27]:
def elevar(*entrada):
  for i in entrada:
    def lista(i):
     i(int(lista))
    print(i)
elevar(lista)

[3, 4, 5, 6, 7]

In [17]:
lambda1=lambda x:x**2
lambda1(2)

4

In [23]:
lambda2=lambda x,y:x**Y
lambda2(2,4)

NameError: ignored

In [24]:
lambda3 = lambda num:True if num**2>= o else False
lambda3(4)

NameError: ignored

In [25]:
letras={"A":3,"B":6,"C":9}
sorted(letras, key=lambda x:letras[x]%3)

['A', 'B', 'C']

In [31]:
import random 
mi_lista=[1,2,3,4,5,6,7,8,9,10]
filtrado=[n for n in mi_lista if n%2!=0]
filtrado

[1, 3, 5, 7, 9]

# Funciones de orden superior

1.MAP
La función se aplica a cada elemto de la lista

      map(una_función, una_lista)

In [36]:
cuadrados=[]#creando una lista vacía
for i in lista:
  cuadrados.append(i**2)
print(cuadrados)

[9, 16, 25, 36, 49]

In [37]:
cuadrado2=[x**2 for x in lista]#por compresión
cuadrado2

[9, 16, 25, 36, 49]

In [39]:
cuadrado3=list(map(lambda x:x**2,lista))
cuadrado3

[9, 16, 25, 36, 49]

"2. filter
filtrar, si se cumple la funcion devuelve un true 

       se define : filter(una_función, una_lista)

In [48]:
valores=[num for num in range(1,10)]
pares=[]
for valor in valores:
  if valor%2==0:
    pares.append(valor)
print(pares)

[2, 4, 6, 8]

In [49]:
valor2=[pai for pai in valores if pai%2==0]
valor2

[2, 4, 6, 8]

In [50]:
valor3= list( filter(lambda depe: depe%2==0, valores))
valor3

[2, 4, 6, 8]

3. reduce:
es un acumulador 
**para usar reduce se debe importar el módulo functools**

In [54]:
from functools import reduce
def suma(lista):
  suma=0
  for i in lista:
    suma+=i
  return suma

print(suma(valores))

45

In [58]:
suma1=reduce(lambda x,y:x+y, valores)
suma1

45